body{
    background-color:blanchedalmond;
    color: azure;
}
form{
    display: flex;
    flex-direction: column;
    width: 90vw;
}
.Listing-img{
    width: 50vw;
}
ul{
    margin: 0%;
    padding: auto;
}

li{
    list-style: none;
    text-align: center;
    color: antiquewhite;
}

.action{
    display: flex;
    flex-direction: column;
}
#edit-button{
    width: 90vw;
}